[Desktop Entry]
Type=Application
Name=UKUI-KWin
Exec=ukui-kwin_x11
NoDisplay=true
# name of loadable control center module
X-UKUI-WMSettingsModule=ukui-kwin
# name we put on the WM spec check window
X-UKUI-WMName=UKUI-KWin
# back compat only 
X-UKUI-Autostart-Phase=WindowManager
X-UKUI-Provides=windowmanager
X-UKUI-Autostart-Notify=true
X-Ubuntu-Gettext-Domain=ukui-kwin
